*Week 9*

# ICU MORTALITY

This project is ...

## Importing Packages

In [2]:
#numpy and 
import numpy as np
from scipy import stats
import pandas as pd

## Data Import

In [4]:
#create a variable called 'url' to store the URL of the data set 
url = 'https://raw.githubusercontent.com/juanklopper/TutorialData/refs/heads/main/ICU_Mortality.csv'

In [5]:
#import the data from the URL and store the data in a data frame called 'df'
df = pd.read_csv(url)

In [6]:
#verify the size of the df
df.shape

(311, 6)

in parenthesis = a touple

In [7]:
df.columns

Index(['Mortality', 'Age', 'WCC', 'HB', 'Diabetes', 'Class'], dtype='object')

In [9]:
df.head()

  Mortality  Age   WCC    HB Diabetes           Class
0      Died   69  12.0  11.7      NaN  Non-infectious
1      Died   73   9.0  13.2      NaN  Non-infectious
2      Died   53  16.4  11.1      NaN  Non-infectious
3      Died   74  10.1  11.2  Type II      Infectious
4      Died   69  10.2  15.0   Type I      Infectious

data wrangler?

In [11]:
#show the first 5 rows of the data frame
df.head()

  Mortality  Age   WCC    HB Diabetes           Class
0      Died   69  12.0  11.7      NaN  Non-infectious
1      Died   73   9.0  13.2      NaN  Non-infectious
2      Died   53  16.4  11.1      NaN  Non-infectious
3      Died   74  10.1  11.2  Type II      Infectious
4      Died   69  10.2  15.0   Type I      Infectious

#### Helpful

In [12]:
#show info about 'df'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Mortality  311 non-null    object
 1   Age        311 non-null    int64
 2   WCC        311 non-null    float64
 3   HB         311 non-null    float64
 4   Diabetes   213 non-null    object
 5   Class      311 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 14.7+ KB

## Categorical Data

In [13]:
# show the first 10 rows of the 'Mortality' column
df['Mortality'].head(10)

0    Died
1    Died
2    Died
3    Died
4    Died
5    Died
6    Died
7    Died
8    Died
9    Died
Name: Mortality, dtype: object

one column = series object?

In [14]:
# how many elements in the 'Mortality' column
df['Mortality'].count()

np.int64(311)

In [15]:
#how many distinct elements in the mortality column
df['Mortality'].nunique()

2

In [16]:
df['Mortality'].unique()

array(['Died', 'Survived'], dtype=object)

In [17]:
#calculate frequency of each unique value in the 'Mortality' column
df['Mortality'].value_counts()

Mortality
Survived    207
Died        104
Name: count, dtype: int64

In [18]:
#calculate the proportions of each unique value in the 'Mortality' column
df['Mortality'].value_counts(normalize=True)

Mortality
Survived    0.665595
Died        0.334405
Name: proportion, dtype: float64

In [19]:
#calculate the unique elements in the class column
df['Class'].unique()

array(['Non-infectious', 'Infectious'], dtype=object)

In [20]:
#give frequency and proportions of each unique value in the 'Class' column
df['Class'].value_counts()

Class
Non-infectious    161
Infectious        150
Name: count, dtype: int64

In [21]:
#calculate the proportions of each unique value in the 'Class' column as percentages
df['Class'].value_counts(normalize=True) * 100

Class
Non-infectious    51.768489
Infectious        48.231511
Name: proportion, dtype: float64

association is used for categorical values - and independent or dependent 
not correlation (only use for numerical)

In [22]:
# create a cross-tabulation of the 'Mortality' and 'Class' columns
pd.crosstab(df['Mortality'], df['Class'])

Class      Infectious  Non-infectious
Mortality
Died               49              55
Survived          101             106

Crosstab is a function within pandas (why using pd.)

In [23]:
#create a table using both mortality and class variables 
pd.crosstab(df['Mortality'], df['Class'], margins=True)

Class      Infectious  Non-infectious  All
Mortality
Died               49              55  104
Survived          101             106  207
All               150             161  311

In [24]:
pd.crosstab(df['Class'], df['Mortality'])

Mortality       Died  Survived
Class
Infectious        49       101
Non-infectious    55       106

## Comparative Numerical Analysis

In [25]:
#show me the ages of those who died and those who survived
df.groupby('Mortality')['Age'].mean()

Mortality
Died        61.125000
Survived    54.111111
Name: Age, dtype: float64

In [27]:
df.Age.mean()

np.float64(56.456591639871384)

In [28]:
#calculate the standard deviation of the 'Age' column
df.Age.std()

np.float64(10.974334278749502)

In [29]:
#calculate the sample standard deviation of the 'Age' column
df.Age.std(ddof=1)

np.float64(10.974334278749502)

know that by default calculates the sample standard deviation

In [30]:
#describe the summary statistics of the 'Age' column
df.Age.describe()

count    311.000000
mean      56.456592
std       10.974334
min       23.000000
25%       49.000000
50%       56.000000
75%       64.000000
max       85.000000
Name: Age, dtype: float64

In [31]:
df.groupby('Mortality')['Age'].describe()

           count       mean        std   min    25%   50%   75%   max
Mortality
Died       104.0  61.125000   9.738012  45.0  52.75  61.0  69.0  77.0
Survived   207.0  54.111111  10.830209  23.0  47.00  53.0  60.0  85.0

## Numerical and Numerical

In [32]:
#calculate correlation between 'Age' and 'WCC' 
df[['Age', 'WCC']].corr()

          Age       WCC
Age  1.000000 -0.002851
WCC -0.002851  1.000000

In [34]:
#calculate correlation between 'Age' and 'WCC' without a table
df[['Age', 'WCC']].corr().iloc[0, 1]

np.float64(-0.0028512391858659205)