# <span style="color:ffa500"> 7 | Python Collections 
---
## *Class*

In [1]:
# generate a list of five integers between 1 and 5
import random
list = []
for i in range(5):
    list.append(random.randint(1,5))
print(list)

[1, 2, 5, 3, 2]

In [3]:
# create a list between 1 and 5 and output this
# list = [1,2,3,4,5]
# print(list)
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [4]:
type(list)

list

In [5]:
#create a list of five numbers and strings
[1,2,3,4,5,"one","two","three","four","five"]

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

Lists are not orgnaized by element / rank elements

In [12]:
# create a list of five random integers and assign it to the variable my_list

In [13]:
my_list = [7, 4, 5, 9, 2]

In [16]:
my_list[0]

7

In [18]:
# retrieve the last element of the list
my_list[-1]

2

In [19]:
# retrieve the first three elements of the list
my_list[0:3]

[7, 4, 5]

missed something

In [20]:
#change the first element of the list to the string "first"
my_list[0] = "first"
my_list

['first', 4, 5, 9, 2]

In [21]:
#Change the final element of the list to the list['one', 'two', 'three']
my_list[-1] = ['one', 'two', 'three']
my_list

['first', 4, 5, 9, ['one', 'two', 'three']]

above = list of lists / nested lists

In [22]:
#return the length of the list
len(my_list)

5

In [23]:
#retrieve the first element of the last element of the list
my_list[-1][0]

'one'

append 
extend

In [ ]:
# extend the list with a list containing the elements 10, 11, 12
my_list.extend([10, 11, 12])
my_list

['first', 4, 5, 9, ['one', 'two', 'three'], 10, 11, 12, 10, 11, 12, 10, 11, 12]

i think i added too many trying to get it to add 10, 11, 12 as a list not seperate elements

In [28]:
# Append the number 6 to the list
my_list.append(6)

append vs insert differences

insert adds at a specific point, append adds to the end of a list, and extend can add all elements from another list to the end of a list

In [30]:
# create two lists of integers titled my_list1 and my_list2
my_list1 = [1, 2, 3, 4, 5]
my_list2 = [6, 7, 8, 9, 10]

In [31]:
# concatenate the two lists
my_list1 + my_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
#repeeat the list my_list1 three times
my_list1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [33]:
# Does 5 exist in my_list1?
5 in my_list1

True

In [34]:
#Reverse the list my_list1
my_list1[::-1]

[5, 4, 3, 2, 1]

In [1]:
#use the list function and the range function to create a list of the numbers 1 to 9
my_list2 = list(range(1, 10))
print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples
### Immutable

In [6]:
# Create a tuple of five integers and assign it to the variable tuple_1
tuple_1 = (1, 2, 3, 4, 5)

In [7]:
type(tuple_1)

tuple

In [8]:
# Create a tuple with the elements 1, 2, 'three', and the list 'Python' and assign it to the variable tuple_2
tuple_2 = (1, 2, 'three', list('Python'))
tuple_2

(1, 2, 'three', ['P', 'y', 't', 'h', 'o', 'n'])

In [9]:
#retrieve the first element of the tuple tuple_1
tuple_1[0]

1

In [ ]:
# Create a tuple with the string elements 'Python', 'R', and 'Julia' and assign it to the variable langauges
languages = ('Python', 'R', 'Julia')
languages

('Python', 'R', 'Julia')

In [ ]:
# Assign each element of the tuple to a separate variable, using the variable names one, two, and three
one, two, three = languages
one

'Python'

In [10]:
names = ['Mary', 'Anne', 'Rene']
surnames = ['Johnstone', 'Barnes', 'Le Roux']

In [11]:
# use the zip function ot create a list of tuples with the first names and surnames
names_list = list(zip(names, surnames))
print (names_list)

[('Mary', 'Johnstone'), ('Anne', 'Barnes'), ('Rene', 'Le Roux')]

In [16]:
import random

# generate a list of tuples with the first names and surnames and add a random integer between 20 and 30
newnames_list = list(zip(names, surnames, [random.randint(20, 30) for i in range(3)]))
print(newnames_list)

[('Mary', 'Johnstone', 20), ('Anne', 'Barnes', 23), ('Rene', 'Le Roux', 26)]

## Dictionaries

In [ ]:
# generate a dictionary
dict = {'name': 'Mary', 'surname': 'Johnstone', 'age': 25}
dict

{'name': 'Mary', 'surname': 'Johnstone', 'age': 25}

In [ ]:
# return the keys of the dictionary
dict.keys()

dict_keys(['name', 'surname', 'age'])

In [ ]:
#return the values of the dictionary
dict.values()

dict_values(['Mary', 'Johnstone', 25])

In [17]:
# generate another dictionary using the dict function
dict_2 = dict(name='Anne', surname='Barnes', age=30)

# return the value of the key 'name' in the dictionary
dict_2['name']

'Anne'

## Sets

In [34]:
# generate set with the elements 1, 2, 3, 4, 4, ,4 ,1
set_1 = {1, 2, 3, 4, 4, 4, 1}
print(set_1)

{1, 2, 3, 4}

this is not a set
should only give out one 4 and not show repeats

In [42]:
# create a set with a, b, c, c, d, e
set_A = set('abccde')
print(set_A)

{'c', 'b', 'e', 'd', 'a'}

don't write list comprehension

# **Week 7: Python Collections Homework**
---
## *Questions*

#### Question 1. How do you define a list in Python?

In [19]:
my_list3 = [1, 2, 3, 4, 5]

#### Question 2. How do you access the third element of a Python list named my_list?

In [20]:
# print the third element of my_list3
print(my_list3[2])

3

#### Question 3. How can you add the element "new_item" to the end of an existing list named my_list?

In [22]:
my_list3.append("new_item")

In [23]:
print (my_list3)

[1, 2, 3, 4, 5, 'new_item']

#### Question 4. How do you create a Python tuple with the items "apple", "banana", and "cherry"?

In [24]:
#create a tuple with the items "apple", "banana", and "cherry"
tuple_3 = ("apple", "banana", "cherry")

In [25]:
print (tuple_3)

('apple', 'banana', 'cherry')

#### Question 5. How do you access the first element of a Python tuple named my_tuple?

In [26]:
# access the first element of tuple_3
print (tuple_3[0])

apple

#### Question 6. How do you define a dictionary in Python with keys "name", "age" and values "John Doe", 30?

In [27]:
# How do you define a dictionary in Python with keys "name", "age" and values "John Doe", 30?
dict_3 = {"name": "John Doe", "age": 30}
print (dict_3)

{'name': 'John Doe', 'age': 30}

#### Question 7. How can you retrieve the value for the key "name" from the dictionary my_dict?

In [28]:
# How can you retrieve the value for the key "name" from the dictionary dict_3
print (dict_3["name"])

John Doe

#### Question 8. How can you change the value associated with the key "age" in the dictionary my_dict to 35?

In [29]:
# How can you change the value associated with the key "age" in the dictionary dict_3 to 35?
dict_3["age"] = 35
print (dict_3)

{'name': 'John Doe', 'age': 35}

#### Question 9. How can you add a new key-value pair "city":"New York" to the dictionary my_dict?

In [30]:
# How can you add a new key-value pair "city":"New York" to the dictionary dict_3?
dict_3["city"] = "New York"
print (dict_3)

{'name': 'John Doe', 'age': 35, 'city': 'New York'}

#### Question 10. How do you create a set in Python with the items "apple", "banana", and "cherry"?

In [45]:
# create a set with the items "apple", "banana", and "cherry"
set_4 = {"apple", "banana", "cherry"}
print (set_4)

{'banana', 'apple', 'cherry'}

#### Question 11. How do you add the item "orange" to an existing set my_set?

In [46]:
# How can you add the item "orange" to the set set_2?
set_4.add("orange")
print (set_4)

{'banana', 'orange', 'apple', 'cherry'}

#### Question 12. How do you remove the item "banana" from the set my_set?

In [47]:
# How can you remove the item "banana" from the set set_4?
set_4.remove("banana")
print (set_4)

{'orange', 'apple', 'cherry'}

#### Question 13. What is the length of a list my_list with elements [1, 2, 3, 4, 5]?

In [48]:
# What is the length of a list my_list_4 with elements [1, 2, 3, 4, 5]?
my_list_4 = [1, 2, 3, 4, 5]
print (len(my_list_4))

5

#### Question 14. What will be the result of my_list_5 * 2 if my_list_5 is [1, 2, 3]?

In [49]:
# What will be the result of my_list_5 * 2 if my_list_5 is [1, 2, 3]? 
my_list_5 = [1, 2, 3]
print (my_list_5 * 2)

[1, 2, 3, 1, 2, 3]

#### Question 15. What is the result of set([1,2,2,3,4,4,4,5,5])?

In [50]:
# What is the result of set([1,2,2,3,4,4,4,5,5])?
print (set([1,2,2,3,4,4,4,5,5]))

{1, 2, 3, 4, 5}